extends ../../layout/layout.pug

block content

  a(href="jsoft_cms/") jsoft_cms
  br
  a(href="accounts/") accounts
  br
  a(href="404.html") 404.html
  br
  a(href="500.html") 500.html
  br
  a(href="offline.html") offline.html