footer.footer
    .footer__wrapper
        address.footer__author-info
            a(href="https://github.com/MikhailArsentev/django-start-template") gitHub

//- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
//- <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
//- <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>