@use '../utils/vars' as global;

.title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font: 600 18px global.$font-default;
    &_h1 {
        font: 600 26px global.$font-default;
    }
}

a {
    text-decoration: none;
    color: global.$link-color;
}

p {
    margin: 0;
    padding: 15px 0;
    font: 400 16px/1.6 'PT Sans', sans-serif;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
    color: global.$color-black;
    text-transform: uppercase;
    margin: 0;
}

h1,
.h1 {
    font: 600 24px global.$font-default;
}

h2,
.h2 {
    font: 600 18px global.$font-default;
}

h3,
.h3 {
    font: 600 16px global.$font-default;
}

// use BAM modifier
