<!DOCTYPE html>{% load static %}<html class="html" lang="ru">

<head>
    <meta charset="utf-8">
    <title>{{ page.head_title }}</title>
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.head_title }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:description" content="{{ page.meta_description }}">
    <meta property="og:site_name" content="Название сайта">
    <meta property="og:image" content="{{ page.img_og }}">
    <meta property="og:image:alt" content="{{ page.head_title }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Название сайта">
    <meta name="twitter:title" content="{{ page.head_title }}">
    <meta name="twitter:description" content="{{ page.meta_description }}">
    <meta name="twitter:image" content="{{ page.img_og }}">
    <meta name="msapplication-TileImage" type="image/x-icon" rel="shortcut icon" content="{% static 'favicon.ico' %}?121202017201">
    <link rel="stylesheet" href="{% static 'css/main.css' %}?121202017201">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>

<body class="body">
    <header class="header">
        <div class="header__wrapper">
            <nav class="header-nav">
                <ul class="menu menu_level-0">
                    <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0 active" href="#">menu_item</a></li>
                    <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">menu_item</a></li>
                    <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">menu_item</a></li>
                    <li class="menu__item menu__item_level-0"><a class="menu__link menu__link_level-0" href="#">menu_item</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper">
            <section class="container-fluid">
                <div class="container">
                    <h1>Home page</h1>
                    <div class="row">
                        <div class="col-6"></div>
                        <div class="col-6"></div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <address class="footer__author-info"><a href="https://github.com/MikhailArsentev/django-start-template">gitHub</a></address>
        </div>
    </footer><noscript>У вас отключен JavaScript, пожалуйста, включите его для корректной работы сайта.</noscript>
    <script src="{% static 'js/common.js' %}?121202017201"></script>
    <script src="{% static 'js/polyfills.js' %}?121202017201"></script>
    <script src="{% static 'js/main.js' %}?121202017201"></script>
</body>

</html>