extends ../../../layout/layoutPage.pug

block content

    section.container-fluid
    .container
        h1 News detail
        .row
            .col-6
            .col-6
        
    
//- block append scripts
//- script(src='./js/another-js.js')
