extends index.pug

block content

  .static-modal-wrapper
    .form-modal
      .form-modal__body
        .form-modal__title.h2 Авторизация
        form(action="").form-simple
          label.form-simple__label
            span.form-simple__fake-label E-mail
            input(type="email" required).form-simple__input
          label.form-simple__label
            span.form-simple__fake-label Пароль
            input(type="password" required).form-simple__input
          button(type="submit").btn.btn_accent.btn_pill.mx-auto.mt-3 Войти
    .form-modal__append
      .links
        a(href="forgot_pass.html") Забыли пароль?
        a(href="reg.html") Регистрация