extends ../index.pug

block append head

    link(rel='stylesheet' href='/static/css/accounts.css?' + date)

block content

    a(href="auth.html") auth.html
    br
    a(href="reg.html") reg.html
    br
    a(href="forgot_pass.html") forgot_pass.html
    br
    a(href="new_pass.html") new_pass.html