$font-default: 'Open Sans', sans-serif;
$font-comfortaa: 'Comfortaa';

$shadow-default: 0.125rem 0.125rem 0.125rem 0 #b8b8b8;

$width-container: 1280px;

$font-default-color: #5a6169;

$color-black: #263238;
$color-white: #fff;
$color-gray: #B0BEC5;
$link-color: #007bff;
$link-sidebar-color: #3d5170;

$border-color: #e2e4e7;

$background-gray:#f5f6f7;

$sidebar-shadow: 0 0.125rem 9.375rem rgba(90,97,105,.1), 0 0.25rem 0.5rem rgba(90,97,105,.12), 0 0.9375rem 1.375rem rgba(90,97,105,.1), 0 0.4375rem 2.1875rem rgba(165,182,201,.1);
$card-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);

$sidebar-width: 350px;

